.grandchild {
    padding: 50px;
    background-color:lightpink;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    }

.child {
    padding: 20px;
    background-color:papayawhip;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}

.parent {
    padding: 10px;
    background-color:seagreen;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    margin: 50px auto;
    max-width: 960px;
}

.friend {
    margin-top:5px;
    background-color:blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sen {
    background-color: beige;

}